
#version=DEVEL
# Minimal kickstart to enable user creation form in Anaconda
# Do not pre-create any user or set root password

# System language
lang en_US.UTF-8

# Keyboard layouts
keyboard us

# Network information (optional, can be omitted)
network --bootproto=dhcp --device=link --activate

# Installation source (Anaconda will auto-detect if omitted)
# url --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=fedora-39&arch=x86_64

# No user or rootpw directives here

# End of file
